<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.TVHomeSharing</string>
	<key>com.apple.UIKit.vends-view-services</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-custom-playpause</key>
	<true/>
	<key>com.apple.appletv.pbs.now-playing-view-service</key>
	<true/>
	<key>com.apple.atvcached.client</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.avfoundation.allow-video-playback-in-background</key>
	<true/>
	<key>com.apple.coremedia.allow-mpeg4streaming</key>
	<true/>
	<key>com.apple.coremedia.allow-protected-content-playback</key>
	<true/>
	<key>com.apple.developer.associated-domains</key>
	<array/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.private.CacheDelete</key>
	<array>
		<string>CLIENT_ENTITLEMENT</string>
		<string>PURGE_ENTITLEMENT</string>
		<string>CANCEL_PURGE_ENTITLEMENT</string>
	</array>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.hid.client.event-dispatch</key>
	<true/>
	<key>com.apple.private.rtcreportingd</key>
	<true/>
	<key>com.apple.private.security.container-required</key>
	<true/>
	<key>com.apple.private.swc.system-app</key>
	<true/>
	<key>com.apple.private.tvos.top-shelf.full-screen-image</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.apple.TVHomeSharing</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/tmp/</string>
		<string>/private/var/mobile/Library/Caches/AppleTV/</string>
		<string>/private/var/mobile/Media/iTunes_Control/iTunes/</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.TVMLKit</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.tvhomesharingd</string>
		<string>com.apple.TVHomeSharing</string>
		<string>com.apple.TVHomeSharingKit</string>
		<string>com.apple.TVScreenSaver</string>
		<string>com.apple.mediaremote</string>
		<string>com.apple.appletvservices</string>
	</array>
	<key>com.apple.tvhomesharingd.client</key>
	<true/>
	<key>com.apple.tvmlkit.private</key>
	<true/>
	<key>fairplay-client</key>
	<string>1553134360</string>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
	</array>
</dict>
</plist>
