<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abs-client</key>
	<string>1755971667</string>
	<key>adi-client</key>
	<string>572356293</string>
	<key>application-identifier</key>
	<string>com.apple.TVMusic</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>com.apple.PairingManager.Read</key>
	<true/>
	<key>com.apple.PairingManager.RemovePeer</key>
	<true/>
	<key>com.apple.PairingManager.Write</key>
	<true/>
	<key>com.apple.UIKit.vends-view-services</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.accounts.inactive.fullaccess</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-custom-playpause</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-custom-volume</key>
	<true/>
	<key>com.apple.appletv.pbs.bulletin-service-access</key>
	<true/>
	<key>com.apple.appletv.pbs.now-playing-view-service</key>
	<true/>
	<key>com.apple.atvcached.client</key>
	<true/>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.avfoundation.allow-system-wide-context</key>
	<true/>
	<key>com.apple.avfoundation.allow-video-playback-in-background</key>
	<true/>
	<key>com.apple.avfoundation.allows-access-to-device-list</key>
	<true/>
	<key>com.apple.avfoundation.allows-set-output-device</key>
	<true/>
	<key>com.apple.coremedia.allow-mpeg4streaming</key>
	<true/>
	<key>com.apple.coremedia.allow-protected-content-playback</key>
	<true/>
	<key>com.apple.itunescloud.delegate-account-store</key>
	<true/>
	<key>com.apple.itunescloud.delegation-provider</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.managedconfiguration.feature-setting.allowExplicitContent</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.mediaremote.allow</key>
	<array>
		<string>TVPairing</string>
	</array>
	<key>com.apple.multitasking.termination</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.TextInput.SpellChecker</string>
	</array>
	<key>com.apple.private.attentionawareness</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.iad.background-client</key>
	<true/>
	<key>com.apple.private.iad.privileged-client</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.rtcreportingd</key>
	<true/>
	<key>com.apple.private.security.container-required</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceMediaLibrary</string>
	</array>
	<key>com.apple.private.tvos.top-shelf.full-screen-image</key>
	<true/>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/TVSUIWallpaper/</string>
		<string>/Media/</string>
		<string>/Library/Preferences/com.apple.apsd.launchd</string>
		<string>/Library/Logs/MediaServices/HTTPArchives/</string>
		<string>/Library/com.apple.iTunesCloud/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.AttentionAwareness</string>
		<string>com.apple.ak.anisette.xpc</string>
		<string>com.apple.askpermissiond</string>
		<string>com.apple.familycircle.agent</string>
		<string>com.apple.hsa-authentication-server</string>
		<string>com.apple.mediaartworkd.xpc</string>
		<string>com.apple.MediaPlayer.MPRadioControllerServer</string>
		<string>com.apple.rtcreportingd</string>
		<string>com.apple.storebookkeeperd.xpc</string>
		<string>com.apple.atc.xpc</string>
		<string>com.apple.atc.xpc.downloadprogress</string>
		<string>com.apple.atc.xpc.runkeeplocaltask</string>
		<string>com.apple.PairingManager</string>
		<string>com.apple.itunescloudd.playactivity</string>
		<string>com.apple.nanoprefsync</string>
		<string>com.apple.itunescloud.delegation-provider</string>
		<string>com.apple.itunescloud.delegate-account-store</string>
		<string>com.apple.coremedia.endpointpicker.xpc</string>
		<string>com.apple.coremedia.routediscoverer.xpc</string>
		<string>com.apple.coremedia.routingcontext.xpc</string>
		<string>com.apple.coremedia.endpointremotecontrolsession.xpc</string>
		<string>com.apple.PairingManager</string>
		<string>com.apple.itunescloud.contenttaste</string>
		<string>com.apple.itunescloud.music-subscription-status-service</string>
		<string>com.apple.adid</string>
		<string>com.apple.amsaccountsd.multiuser</string>
		<string>com.apple.xpc.amsaccountsd</string>
		<string>com.apple.AppleMediaServicesUIDynamicService</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.mobileipod</string>
		<string>com.apple.springboard</string>
		<string>com.apple.TVScreenSaver</string>
	</array>
	<key>com.apple.smoot.subscriptionservice</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.symptom_analytics.query</key>
	<true/>
	<key>com.apple.symptoms.NetworkOfInterest</key>
	<true/>
	<key>com.apple.tv.api</key>
	<array>
		<string>iTunes</string>
	</array>
	<key>com.apple.tvmlkit.private</key>
	<true/>
	<key>dynamic-codesigning</key>
	<true/>
	<key>fairplay-client</key>
	<string>1888082492</string>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.MediaRemote.pairing</string>
	</array>
</dict>
</plist>
