<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abs-client</key>
	<string>1755971667</string>
	<key>adi-client</key>
	<string>572356293</string>
	<key>application-identifier</key>
	<string>com.apple.TVSettings</string>
	<key>aps-environment</key>
	<string>development</string>
	<key>backupd-connection-initiate</key>
	<true/>
	<key>com.apple.BTServer.allowRestrictedServices</key>
	<true/>
	<key>com.apple.BTServer.appleMfgDataScanner</key>
	<true/>
	<key>com.apple.BTServer.programmaticPairing</key>
	<true/>
	<key>com.apple.BTServer.supportsPairing</key>
	<true/>
	<key>com.apple.BluetoothServices</key>
	<true/>
	<key>com.apple.DiagnosticsSessionAvailability.client</key>
	<true/>
	<key>com.apple.MobileAsset.SoftwareUpdate</key>
	<true/>
	<key>com.apple.PairingManager.HomeKit</key>
	<true/>
	<key>com.apple.PairingManager.Read</key>
	<true/>
	<key>com.apple.PairingManager.RemoveAdmin</key>
	<true/>
	<key>com.apple.PairingManager.RemovePeer</key>
	<true/>
	<key>com.apple.PairingManager.Write</key>
	<true/>
	<key>com.apple.Preferences</key>
	<true/>
	<key>com.apple.QuartzCore.debug</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCDynamicStore-write-access</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>com.apple.wifi.plist</string>
		<string>preferences.plist</string>
		<string>com.apple.network.identification.plist</string>
		<string>com.apple.PowerManagement.plist</string>
	</array>
	<key>com.apple.TextInput.lexicon-source</key>
	<true/>
	<key>com.apple.VideoSubscriberAccount.DeveloperService</key>
	<true/>
	<key>com.apple.account.AppleAccount</key>
	<true/>
	<key>com.apple.accounts.appleidauthentication.defaultaccess</key>
	<true/>
	<key>com.apple.accounts.appleidauthentication.fullaccess</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-conference-room-display</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-purge-topshelf</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-reboot</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-relaunch</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-relaunch-backboardd</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-remote-pairing</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-screen-saver</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-shared-state-access</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-sleep</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-sleep-timeout</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-user-interface-style-change</key>
	<true/>
	<key>com.apple.appletv.pbs.display-manager-service-access</key>
	<true/>
	<key>com.apple.appletv.pbs.mediaremote</key>
	<true/>
	<key>com.apple.appletv.pbs.osupdate-service-access</key>
	<true/>
	<key>com.apple.appletv.pbs.user-profiles</key>
	<true/>
	<key>com.apple.appletv.pbs.user-profiles.edit</key>
	<true/>
	<key>com.apple.appletv.pbs.user-profiles.select</key>
	<true/>
	<key>com.apple.assistant.settings</key>
	<true/>
	<key>com.apple.atvcached.client</key>
	<true/>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.avfoundation.allow-system-wide-context</key>
	<true/>
	<key>com.apple.avfoundation.allows-access-to-device-list</key>
	<true/>
	<key>com.apple.avfoundation.allows-set-output-device</key>
	<true/>
	<key>com.apple.backboard.client</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.bulletinboard.settings</key>
	<true/>
	<key>com.apple.cdp.followup</key>
	<true/>
	<key>com.apple.cdp.statemachine</key>
	<true/>
	<key>com.apple.cdp.utility</key>
	<true/>
	<key>com.apple.developer.associated-domains</key>
	<array/>
	<key>com.apple.developer.game-center</key>
	<array>
		<string>Account</string>
	</array>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>Production</string>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>com.apple.container.HeadBoard</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.geoservices.setanydefault</key>
	<true/>
	<key>com.apple.homekit.private-spi-access</key>
	<true/>
	<key>com.apple.intents.extension.discovery</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.launchservices.clearadvertisingid</key>
	<true/>
	<key>com.apple.locationd.authorizeapplications</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.status</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.managedconfiguration.teslad-access</key>
	<true/>
	<key>com.apple.osanalytics.otatasking-service-access</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.airdrop.discovery</key>
	<true/>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.TextInput.SpellChecker</string>
		<string>com.apple.MobileAsset.VoiceServices.CustomVoice</string>
		<string>com.apple.MobileAsset.VoiceServicesVocalizerVoice</string>
		<string>com.apple.MobileAsset.VoiceServices.CombinedVocalizerVoices</string>
		<string>com.apple.MobileAsset.MacinTalkVoiceAssets</string>
		<string>com.apple.MobileAsset.VoiceServices.GryphonVoice</string>
		<string>com.apple.MobileAsset.CoreControl</string>
	</array>
	<key>com.apple.private.assets.change-daemon-config</key>
	<true/>
	<key>com.apple.private.associated-domains</key>
	<true/>
	<key>com.apple.private.cecd.control</key>
	<true/>
	<key>com.apple.private.cecd.observer</key>
	<true/>
	<key>com.apple.private.cloudkit.systemService</key>
	<true/>
	<key>com.apple.private.corewifi.internal</key>
	<true/>
	<key>com.apple.private.externalaccessory.showallaccessories</key>
	<true/>
	<key>com.apple.private.game-center</key>
	<array>
		<string>Account</string>
	</array>
	<key>com.apple.private.game-center.bypass-authentication</key>
	<true/>
	<key>com.apple.private.hid.client.event-filter</key>
	<true/>
	<key>com.apple.private.hid.client.service-protected</key>
	<true/>
	<key>com.apple.private.homekit</key>
	<true/>
	<key>com.apple.private.iad.opt-in-control</key>
	<true/>
	<key>com.apple.private.keychain.sysbound</key>
	<true/>
	<key>com.apple.private.lockdown.finegrained-get</key>
	<array>
		<string>NULL/BrickState</string>
		<string>NULL/ActivationInfo</string>
		<string>NULL/DeviceCertificate</string>
		<string>NULL/ActivationPrivateKey</string>
		<string>NULL/DeviceName</string>
	</array>
	<key>com.apple.private.lockdown.finegrained-set</key>
	<array>
		<string>NULL/DeviceName</string>
	</array>
	<key>com.apple.private.mis.online_auth_agent</key>
	<true/>
	<key>com.apple.private.mis.trust.set</key>
	<true/>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>UninstallForLaunchServices</string>
	</array>
	<key>com.apple.private.mobilestoredemo.enabledemo</key>
	<array>
		<string>Manage</string>
	</array>
	<key>com.apple.private.nlcd-control</key>
	<true/>
	<key>com.apple.private.octagon</key>
	<true/>
	<key>com.apple.private.security.no-sandbox</key>
	<true/>
	<key>com.apple.private.subscriptionservice.internal</key>
	<true/>
	<key>com.apple.private.swc.system-app</key>
	<true/>
	<key>com.apple.private.system-keychain</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceLiverpool</string>
		<string>kTCCServiceWillow</string>
		<string>kTCCServiceMediaLibrary</string>
	</array>
	<key>com.apple.private.tcc.manager</key>
	<true/>
	<key>com.apple.private.timezoneupdates.tzd.access</key>
	<true/>
	<key>com.apple.private.tvos.TVProfileService.inquiry</key>
	<true/>
	<key>com.apple.private.tvos.TVProfileService.reset</key>
	<true/>
	<key>com.apple.private.tvos.TVSUsers</key>
	<true/>
	<key>com.apple.private.tvos.top-shelf.full-screen-image</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.cloudd</string>
		<string>com.apple.itunescloud.music-subscription-status-service</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.restrictionspassword</string>
		<string>com.apple.springboard</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>AppleSiI9437AudioClient</string>
		<string>AppleLC89091JAClient</string>
	</array>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.purplebuddy</string>
		<string>systemgroup.com.apple.VideoSubscriberAccount</string>
		<string>systemgroup.com.apple.configurationprofiles</string>
		<string>systemgroup.com.apple.media.books.managed</string>
	</array>
	<key>com.apple.security.temporary-exception.iokit-user-client-class</key>
	<array>
		<string>AppleSiI9437AudioClient</string>
		<string>AppleLC89091JAClient</string>
	</array>
	<key>com.apple.sharing.Client</key>
	<true/>
	<key>com.apple.sharing.Services</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.timed</key>
	<true/>
	<key>com.apple.tv.api</key>
	<array>
		<string>iTunes</string>
	</array>
	<key>com.apple.tvcontrold.endpoint-service</key>
	<true/>
	<key>com.apple.tvhomesharingd.client</key>
	<true/>
	<key>com.apple.tzlink.allow</key>
	<true/>
	<key>com.apple.usermanagerd.persona.create</key>
	<true/>
	<key>com.apple.usermanagerd.persona.delete</key>
	<true/>
	<key>com.apple.watchlist.private</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>fairplay-client</key>
	<string>869987008</string>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>appleaccount</string>
		<string>com.apple.certificates</string>
		<string>com.apple.airplay</string>
		<string>com.apple.ProtectedCloudStorage</string>
		<string>com.apple.VideoSubscriberAccount</string>
		<string>com.apple.identities</string>
		<string>com.apple.coreservices.appleidauthentication</string>
		<string>com.apple.coreservices.appleidauthentication.keychainaccessgroup</string>
		<string>com.apple.sharing.appleidauthentication</string>
	</array>
	<key>modify-anchor-certificates</key>
	<true/>
</dict>
</plist>
