<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HomeKit</key>
	<true/>
	<key>com.apple.BluetoothServices</key>
	<true/>
	<key>com.apple.PairingManager.Read</key>
	<true/>
	<key>com.apple.PairingManager.Write</key>
	<true/>
	<key>com.apple.UIKit.vends-view-services</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-control-center-overlay</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-custom-playpause</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-custom-volume</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-now-playing-presentation</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-sleep</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-volume-hud</key>
	<true/>
	<key>com.apple.appletv.pbs.bulletin-service-access</key>
	<true/>
	<key>com.apple.appletv.pbs.now-playing-view-service</key>
	<true/>
	<key>com.apple.appletv.pbs.overlay-layout-service-access</key>
	<true/>
	<key>com.apple.appletv.pbs.picture-in-picture-service-access</key>
	<true/>
	<key>com.apple.appletv.pbs.user-profiles</key>
	<true/>
	<key>com.apple.appletv.pbs.user-profiles.select</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.avfoundation.allow-system-wide-context</key>
	<true/>
	<key>com.apple.avfoundation.allows-access-to-device-list</key>
	<true/>
	<key>com.apple.avfoundation.allows-set-output-device</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.developer.homekit.background-mode</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.itunescloud.delegate-account-store</key>
	<true/>
	<key>com.apple.itunescloud.delegation-provider</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.familycircle</key>
	<true/>
	<key>com.apple.private.homekit</key>
	<true/>
	<key>com.apple.private.homekit.cameraclips</key>
	<true/>
	<key>com.apple.private.replay-kit</key>
	<true/>
	<key>com.apple.private.security.container-required</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceMediaLibrary</string>
		<string>kTCCServiceWillow</string>
	</array>
	<key>com.apple.private.tvos.TVSUsers</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.BluetoothServices</string>
		<string>com.apple.itunescloud.delegate-account-store</string>
		<string>com.apple.itunescloud.delegation-provider</string>
		<string>com.apple.PairingManager</string>
		<string>com.apple.replayd</string>
		<string>com.apple.SharingServices</string>
		<string>com.apple.TVServices.TVProfileService</string>
	</array>
	<key>com.apple.security.exception.process-info</key>
	<true/>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.Music</string>
		<string>com.apple.airplay</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.torpedo.myriad</string>
		<string>com.apple.UIKit</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>appleaccount</string>
	</array>
	<key>platform-application</key>
	<true/>
</dict>
</plist>
