<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adi-client</key>
	<string>628765583</string>
	<key>application-identifier</key>
	<string>com.apple.assistant_service</string>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
		<string>phone</string>
	</array>
	<key>com.apple.CompanionLink</key>
	<true/>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.PairingManager.Read</key>
	<true/>
	<key>com.apple.PairingManager.Write</key>
	<true/>
	<key>com.apple.SharingServices</key>
	<true/>
	<key>com.apple.TVSearchServices.ActionService</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.aosnotification.aosnotifyd-access</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-launch-kiosk</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-send-menu</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-siri-actions</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-sleep</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-sleep-timeout</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-user-interface-style-change</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-wake</key>
	<true/>
	<key>com.apple.assistant.flow_service</key>
	<true/>
	<key>com.apple.assistant.multiuser.service</key>
	<true/>
	<key>com.apple.assistant.security</key>
	<true/>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.avfoundation.allow-system-wide-context</key>
	<true/>
	<key>com.apple.avfoundation.allows-access-to-device-list</key>
	<true/>
	<key>com.apple.avfoundation.allows-set-output-device</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.bulletinboard.settings</key>
	<true/>
	<key>com.apple.chrono.invalidate-timelines</key>
	<true/>
	<key>com.apple.coreaudio.allow-amr-decode</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.icloud.fmfd.access</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.beaconmanager</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.ownersession</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.pairingmanager</key>
	<true/>
	<key>com.apple.imagent</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.locationd.authorizeapplications</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.status</key>
	<true/>
	<key>com.apple.maps.ipc-access</key>
	<true/>
	<key>com.apple.mediaremote.send-commands</key>
	<true/>
	<key>com.apple.mediasetupd.client</key>
	<true/>
	<key>com.apple.messages.composeclient</key>
	<true/>
	<key>com.apple.mobilemail.mailservices</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.lookup</key>
	<dict>
		<key>appData</key>
		<array>
			<string>com.apple.podcasts</string>
		</array>
	</dict>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.MorphunData</string>
		<string>com.apple.MobileAsset.TempMorphunData</string>
	</array>
	<key>com.apple.private.assets.change-daemon-config</key>
	<true/>
	<key>com.apple.private.assistant.settings</key>
	<true/>
	<key>com.apple.private.calendar.watchos-mutable-database</key>
	<true/>
	<key>com.apple.private.cloudkit.masquerade</key>
	<true/>
	<key>com.apple.private.cloudkit.setEnvironment</key>
	<true/>
	<key>com.apple.private.cloudkit.spi</key>
	<true/>
	<key>com.apple.private.cloudkit.systemService</key>
	<true/>
	<key>com.apple.private.corerecents</key>
	<true/>
	<key>com.apple.private.coreservices.cangetcurrentactivityinfo</key>
	<true/>
	<key>com.apple.private.corespotlight.internal</key>
	<true/>
	<key>com.apple.private.healthkit</key>
	<true/>
	<key>com.apple.private.healthkit.read_authorization_override</key>
	<array>
		<string>HKCategoryTypeIdentifierSleepAnalysis</string>
	</array>
	<key>com.apple.private.healthkit.write_authorization_override</key>
	<array>
		<string>HKCategoryTypeIdentifierSleepAnalysis</string>
	</array>
	<key>com.apple.private.homekit</key>
	<true/>
	<key>com.apple.private.imcore.imdpersistence.database-access</key>
	<true/>
	<key>com.apple.private.launchservices.suppresscustomschemeprompt</key>
	<string>*</string>
	<key>com.apple.private.librarian.container-proxy</key>
	<true/>
	<key>com.apple.private.mobiletimerd</key>
	<true/>
	<key>com.apple.private.security.storage.HomeKit</key>
	<true/>
	<key>com.apple.private.security.storage.Notes</key>
	<true/>
	<key>com.apple.private.security.storage.SiriInference</key>
	<true/>
	<key>com.apple.private.security.storage.universalaccess</key>
	<true/>
	<key>com.apple.private.siri-morphunassetsupdaterd</key>
	<true/>
	<key>com.apple.private.sleepd</key>
	<true/>
	<key>com.apple.private.social.facebook.upload</key>
	<true/>
	<key>com.apple.private.subscriptionservice.internal</key>
	<true/>
	<key>com.apple.private.suggestions.contacts</key>
	<true/>
	<key>com.apple.private.suggestions.events</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceCalendar</string>
		<string>kTCCServiceReminders</string>
		<string>kTCCServiceWillow</string>
		<string>kTCCServiceMediaLibrary</string>
	</array>
	<key>com.apple.private.tcc.manager</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.NamedEntity.readWrite</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.Topic.readWrite</key>
	<true/>
	<key>com.apple.rootless.storage.clientScripter</key>
	<true/>
	<key>com.apple.runningboard.assertions.siri</key>
	<true/>
	<key>com.apple.security.exception.files.home-relative-path.read-only</key>
	<array>
		<string>/Library/Trial/Treatments/351/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Caches/com.apple.siriinferenced/</string>
		<string>/Library/com.apple.siri.inference/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.assistant.settings</string>
		<string>com.apple.siriinferenced</string>
		<string>com.apple.remindd</string>
		<string>com.apple.calaccessd</string>
		<string>com.apple.suggested.contacts</string>
		<string>com.apple.spotlight.IndexAgent</string>
		<string>com.apple.spotlight.SearchAgent</string>
		<string>com.apple.icloud.fmfd</string>
		<string>com.apple.ak.auth.xpc</string>
		<string>com.apple.watchlistd.xpc</string>
		<string>com.apple.itunescloud.music-subscription-status-service</string>
		<string>com.apple.MobileTimer.alarmserver</string>
		<string>com.apple.MobileTimer.timerserver</string>
		<string>com.apple.icloud.searchpartyd.ownersession</string>
		<string>com.apple.icloud.searchpartyd.pairingmanager</string>
		<string>com.apple.icloud.searchpartyd.beaconmanager</string>
		<string>com.apple.SharingServices</string>
		<string>com.apple.CompanionLink</string>
		<string>com.apple.mediasetupd.server</string>
		<string>com.apple.assistant.multiuser.service</string>
		<string>com.apple.assistant.flow_service</string>
		<string>com.apple.siri.morphunassetsupdaterd</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>AGXCommandQueue</string>
		<string>AGXDevice</string>
		<string>AGXDeviceUserClient</string>
		<string>AGXSharedUserClient</string>
		<string>IOAccelContext</string>
		<string>IOAccelContext2</string>
		<string>IOAccelDevice</string>
		<string>IOAccelDevice2</string>
		<string>IOAccelSharedUserClient</string>
		<string>IOAccelSharedUserClient2</string>
		<string>IOAccelSubmitter2</string>
		<string>IOSurfaceRootUserClient</string>
	</array>
	<key>com.apple.sharing.DeviceDiscovery</key>
	<true/>
	<key>com.apple.siri.clientScripter</key>
	<true/>
	<key>com.apple.siri.client_lite</key>
	<true/>
	<key>com.apple.siriinferenced</key>
	<true/>
	<key>com.apple.siriknowledged</key>
	<true/>
	<key>com.apple.spotlight.search</key>
	<true/>
	<key>com.apple.springboard.launchapplications</key>
	<true/>
	<key>com.apple.springboard.promptunlock</key>
	<true/>
	<key>com.apple.visualvoicemail.client</key>
	<true/>
	<key>com.apple.watchlist.private</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>appleaccount</string>
		<string>apple</string>
	</array>
</dict>
</plist>
