<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allow-obliterate-device</key>
	<true/>
	<key>allow-softwareupdated</key>
	<true/>
	<key>application-identifier</key>
	<string>com.apple.PineBoard</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>aps-environment</key>
	<string>production</string>
	<key>com.apple.BTServer.allowRestrictedServices</key>
	<true/>
	<key>com.apple.BTServer.appleMfgDataScanner</key>
	<true/>
	<key>com.apple.BTServer.programmaticPairing</key>
	<true/>
	<key>com.apple.BTServer.supportsPairing</key>
	<true/>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.MobileAsset.SoftwareUpdate</key>
	<true/>
	<key>com.apple.PairingManager.Read</key>
	<true/>
	<key>com.apple.PairingManager.Write</key>
	<true/>
	<key>com.apple.QuartzCore.debug</key>
	<true/>
	<key>com.apple.QuartzCore.displayable-context</key>
	<true/>
	<key>com.apple.QuartzCore.global-capture</key>
	<true/>
	<key>com.apple.QuartzCore.secure-capture</key>
	<true/>
	<key>com.apple.QuartzCore.secure-mode</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCDynamicStore-write-access</key>
	<true/>
	<key>com.apple.accessibility.api</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-reboot</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-siri-actions</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-sleep</key>
	<true/>
	<key>com.apple.appletv.pbs.display-manager-service-access</key>
	<true/>
	<key>com.apple.appletv.pbs.issue-data-reporter-service-access</key>
	<true/>
	<key>com.apple.assistant.client</key>
	<true/>
	<key>com.apple.assistant.settings</key>
	<true/>
	<key>com.apple.atvcached.client</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.avfoundation.allow-system-wide-context</key>
	<true/>
	<key>com.apple.avfoundation.allows-access-to-device-list</key>
	<true/>
	<key>com.apple.avfoundation.allows-set-output-device</key>
	<true/>
	<key>com.apple.backboard.client</key>
	<true/>
	<key>com.apple.backboardd.launchapplications</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.bulletinboard.dataprovider</key>
	<true/>
	<key>com.apple.bulletinboard.observer</key>
	<true/>
	<key>com.apple.bulletinboard.settings</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.coreduetd.people</key>
	<true/>
	<key>com.apple.developer.associated-domains</key>
	<array/>
	<key>com.apple.developer.game-center</key>
	<array>
		<string>Account</string>
	</array>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.developer.homekit.background-mode</key>
	<true/>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>iCloud.com.apple.PineBoard</string>
		<string>iCloud.apple.com.PineBoard</string>
		<string>com.apple.container.tvos.multiuser</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.developer.siri</key>
	<true/>
	<key>com.apple.duet.activityscheduler.allow</key>
	<true/>
	<key>com.apple.frontboard.app-badge-value-access</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.idle-timer-services</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.locationd.authorizeapplications</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.multitasking.systemappassertions</key>
	<true/>
	<key>com.apple.multitasking.termination</key>
	<true/>
	<key>com.apple.multitasking.unlimitedassertions</key>
	<true/>
	<key>com.apple.osanalytics.otatasking-service-access</key>
	<true/>
	<key>com.apple.otacrashcopier.allowSubmitDiagnosticLogPathsWithIdentifier</key>
	<true/>
	<key>com.apple.private.CacheDelete</key>
	<array>
		<string>CLIENT_ENTITLEMENT</string>
		<string>PURGE_ENTITLEMENT</string>
		<string>PURGEABLE_ENTITLEMENT</string>
		<string>CANCEL_PURGE_ENTITLEMENT</string>
	</array>
	<key>com.apple.private.InstallCoordination.allowed</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.lookup</key>
	<dict>
		<key>appData</key>
		<true/>
		<key>pluginData</key>
		<true/>
	</dict>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.allow-explicit-graphics-priority</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.CoreControl</string>
	</array>
	<key>com.apple.private.assets.change-daemon-config</key>
	<true/>
	<key>com.apple.private.attentionawareness</key>
	<true/>
	<key>com.apple.private.attentionawareness.poll</key>
	<true/>
	<key>com.apple.private.cecd.control</key>
	<true/>
	<key>com.apple.private.cecd.observer</key>
	<true/>
	<key>com.apple.private.dmd.policy</key>
	<true/>
	<key>com.apple.private.externalaccessory.showallaccessories</key>
	<true/>
	<key>com.apple.private.game-center.bypass-authentication</key>
	<true/>
	<key>com.apple.private.hid.client.event-dispatch</key>
	<true/>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.homekit</key>
	<true/>
	<key>com.apple.private.kernel.darkboot</key>
	<true/>
	<key>com.apple.private.kernel.jetsam</key>
	<true/>
	<key>com.apple.private.keychain.sysbound</key>
	<true/>
	<key>com.apple.private.launchservices.suppresscustomschemeprompt</key>
	<string>*</string>
	<key>com.apple.private.lockdown.finegrained-get</key>
	<array>
		<string>NULL/BrickState</string>
		<string>NULL/ActivationInfo</string>
		<string>NULL/DeviceCertificate</string>
		<string>NULL/ActivationPrivateKey</string>
	</array>
	<key>com.apple.private.memorystatus</key>
	<true/>
	<key>com.apple.private.mis.online_auth_agent</key>
	<true/>
	<key>com.apple.private.mobilestoredemo.enabledemo</key>
	<array>
		<string>Enroll</string>
		<string>Manage</string>
	</array>
	<key>com.apple.private.networkextension.configuration</key>
	<true/>
	<key>com.apple.private.security.container-manager</key>
	<true/>
	<key>com.apple.private.security.no-sandbox</key>
	<true/>
	<key>com.apple.private.security.storage.AppDataContainers</key>
	<true/>
	<key>com.apple.private.swc.system-app</key>
	<true/>
	<key>com.apple.private.system-keychain</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServicePhotos</string>
		<string>kTCCServiceWillow</string>
	</array>
	<key>com.apple.private.tcc.manager</key>
	<true/>
	<key>com.apple.private.xpc.launchd.app-server</key>
	<true/>
	<key>com.apple.remote-text-metadata</key>
	<true/>
	<key>com.apple.runningboard.hereditarygrantoriginator</key>
	<true/>
	<key>com.apple.runningboard.primitiveattribute</key>
	<true/>
	<key>com.apple.runningboard.request.identity</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.siri.activation.service</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.restrictionspassword</string>
		<string>com.apple.springboard</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<true/>
	<key>com.apple.siri.activation.service</key>
	<true/>
	<key>com.apple.siri.client_lite</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.symptom_analytics.query</key>
	<true/>
	<key>com.apple.symptoms.NetworkOfInterest</key>
	<true/>
	<key>com.apple.timed</key>
	<true/>
	<key>com.apple.usermanagerd.persona.create</key>
	<true/>
	<key>com.apple.usermanagerd.persona.delete</key>
	<true/>
	<key>com.apple.usermanagerd.persona.setbundle</key>
	<true/>
	<key>com.apple.voicetrigger.voicetriggerservice</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>fairplay-client</key>
	<string>693001776</string>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>appleaccount</string>
		<string>com.apple.certificates</string>
	</array>
</dict>
</plist>
